@import url('https://fonts.googleapis.com/css?family=Muli|Vollkorn+SC');

/*
    font-family: 'Vollkorn SC', serif;  ~  Big header h1
    font-family: 'Noto Serif', serif;  ~  Car title
*/

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    background-color: #0D47A1;
    background-image: url("../imgs/grainy_background.png");
}
a {
    text-decoration: none;
}
::selection {
    background-color: rgba(106, 52, 168, 0.8);
    color: white;
}



/* <Top nav>*/
header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 60px;
    background-color: #26204f;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    z-index: 2;
}
header h1{
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-left: 20px;
    color: white;
    font-family: 'Vollkorn SC', serif;
    text-shadow: 2px 2px 5px black;
    height: 60px;
    line-height: 60px;
}
header h1 p{
    display: inline;
    font-size: 20px;
}
header ul{
    margin: 15px 0 0 0;
    margin-top: 16px;
    margin-left: calc(50vw - 451px);
    padding: 0;
    user-select: none;
    text-align: center;
    width: 400px;
}
header ul li {
    display: inline;
    font-family: 'Vollkorn SC', serif;
    text-shadow: 2px 2px 5px black;
    padding: 25px;
    padding-bottom: 20px;
    transition: background 0.5s ease-out;
}
header ul li:hover{
    background-color: rgba(255, 255, 255, 0.35);
}
header ul li a{
    height: 67px;
    color: white;
}
header ul li a:hover{
    cursor: pointer;
}
/* </Top nav>*/



/* <Underline> */
.nav_underline{  
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.nav_underline:after{
	content: "";
	border-radius: 50px;
	display: block;
	margin: auto;
    margin-top: -3px;
	height: 3px;
	width: 0px;
	background-color: transparent;
	transition: width 0.6s ease-out, background-color 0.6s ease-out, box-shadow 0.6s ease-out;
}
.nav_underline:hover:after{
	width: 90%;
	background-color: #6a34a8;
	box-shadow: 1px 1px 2px black;
}
/* </Underline> */



/*<main>*/
main{

}
/*</main>*/



/* <carList> */
.carList {
    margin: 80px auto;
    padding: 20px;
    width: calc(100% - 90px);
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(255, 255, 255, 0.12);
    min-height: 90%;
    border-radius: 15px;
    z-index: 0;
}
.carList div{
    width: 200px;
    height: 400px;
    padding: 10px;
}
.carList div .img{
    height: 104px;
}
.carList div .img img{
    display: block;
    width: 170px;
    max-height: 104px;
    margin: 0 auto;
    border: 1px solid rgb(54, 111, 197);
    border-radius: 5px;
}
.carList div .info h2{
    display: block;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    width: 170px;
    margin: 10px auto;
    color: white;
}
.carList div .info p{
    display: block;
    font-family: 'Muli', sans-serif;
    width: 170px;
    margin: 4px auto;
    color: #E0E0E0;
}
.carList div .info a{
    display: block;
    margin: 5px auto;
    text-align: center;
    padding: 10px 20px;
    background-color: #9C27B0;
    color: white;
    font-family: 'Vollkorn SC', serif;
    font-size: 1.2em;
    width: 140px;
    user-select: none;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}
.carList div .info a.moreInfo{
    margin-top: 30px;
    background-color: #3F51B5;
}
.carList div .info a.order{
    background-color: #4A148C;
}
.carList div .info a:hover{
    cursor: default;
    background-color: #26204f;
    transform: scale(1.03);
}
.carList div .info a:active{
    cursor: default;
    transform: scale(0.95);
}
/* </carList> */



/* <carInfo> */
.carInfo {
    position: fixed;
    top: 60px;
    left: calc(50% - 400px);
    width: 800px;
    height: 400px;
    background-color: #26204f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 8px black;
    z-index: 1;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    display: flex;
    flex-flow: row wrap;
}
.carInfo .loading{
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: white;
}
.carInfo .img{
    order: 1;
    width: 40%;
    height: calc(100% - 80px);
}
.carInfo .img img{
    display: block;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin: 28px auto;
    border-radius: 3px;
}
.carInfo .info{
    order: 2;
    width: 30%;
    height: calc(100% - 80px);
}
.carInfo .info .title{
    display: block;
    font-family: 'Muli', sans-serif;
    color: white;
    font-weight: 300;
    margin-left: 20px;
}
.carInfo .info .label{
    display: block;
    font-family: 'Muli', sans-serif;
    color: #E0E0E0;
    font-weight: 300;
    margin-left: 20px;
}
.carInfo .actions{
    order: 3;
    width: 30%;
    height: calc(100% - 80px);
}
.carInfo .actions .order{
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #4A148C;
    color: white;
    font-family: 'Vollkorn SC', serif;
    font-size: 1.2em;
    width: 140px;
    user-select: none;
    margin-top: 26px;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}
.carInfo .actions .order:hover {
    cursor: default;
    background-color: #3F51B5;
    transform: scale(1.03);
}
.carInfo .actions .order:active {
    cursor: default;
    transform: scale(0.95);
}
.carInfo .closeButton{
    order: 4;
    width: 100%;
    height: 80px;
    transition: background-color 0.3s ease-out;
}
.carInfo .closeButton svg, carInfo .closeButton i{
    width: 100%;
    text-align: center;
    color: white;
    transform: translateY(15px);
    transition: transform 0.3s ease-out;
}
.carInfo .closeButton p{
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    transform: translateY(-15px);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
.carInfo .closeButton:hover{
    background-color: rgba(106,52,168, 0.65);
    cursor: default;
}
.carInfo .closeButton:hover svg, .carInfo .closeButton:hover i{
    transform: translateY(0);
}
.carInfo .closeButton:hover p{
    opacity: 1;
}
/* </carInfo> */



/* <Scrollbar> */
#sb-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#sb-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#sb-3::-webkit-scrollbar-thumb {
    background-color: #6a34a8;
    transition: background-color 0.3s ease-out;
}
#sb-3::-webkit-scrollbar-thumb:hover {
    background-color: #510da0;
}
#sb-3::-webkit-scrollbar-thumb:active {
    background-color: #1b013a;
}
/* </Scrollbar> */