@import url('https://fonts.googleapis.com/css?family=Muli|Vollkorn+SC');

/*
    font-family: 'Vollkorn SC', serif;  ~  Big header h1
    font-family: 'Noto Serif', serif;  ~  Car title
*/

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
    background-image: url("../imgs/grainy_background.png");
}
a {
    text-decoration: none;
}
::selection {
    background-color: rgba(106, 52, 168, 0.8);
    color: white;
}



/* <Top nav>*/
header {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 60px;
    background-color: #26204f;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}
header h1{
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-left: 20px;
    color: white;
    font-family: 'Vollkorn SC', serif;
    text-shadow: 2px 2px 5px black;
    height: 60px;
    line-height: 60px;
}
header h1 p{
    display: inline;
    font-size: 20px;
}
header ul{
    margin: 15px 0 0 0;
    margin-top: 16px;
    margin-left: calc(50vw - 451px);
    padding: 0;
    user-select: none;
    text-align: center;
    width: 400px;
}
header ul li {
    display: inline;
    font-family: 'Vollkorn SC', serif;
    text-shadow: 2px 2px 5px black;
    padding: 25px;
    padding-bottom: 20px;
    transition: background 0.5s ease-out;
}
header ul li:hover{
    background-color: rgba(255, 255, 255, 0.35);
}
header ul li a{
    height: 67px;
    color: white;
}
header ul li a:hover{
    cursor: pointer;
}
/* </Top nav>*/



/* <Underline> */
.nav_underline{  
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.nav_underline:after{
	content: "";
	border-radius: 50px;
	display: block;
	margin: auto;
    margin-top: -3px;
	height: 3px;
	width: 0px;
	background-color: transparent;
	transition: width 0.6s ease-out, background-color 0.6s ease-out, box-shadow 0.6s ease-out;
}
.nav_underline:hover:after{
	width: 90%;
	background-color: #6a34a8;
	box-shadow: 1px 1px 2px black;
}
/* </Underline> */



/*<main>*/
main{

}
/*</main>*/



/* <carList> */
.carList {
    margin: 20px auto;
    padding: 20px;
    width: calc(100% - 90px);
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 90%;
    border-radius: 15px;
}
.carList div{
    width: 200px;
    height: 480px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.carList div .img img{
    display: block;
    width: 170px;
    margin: 0 auto;
}
.carList div .info h2{
    display: block;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    width: 170px;
    margin: 10px auto;
}
.carList div .info p{
    display: block;
    font-family: 'Muli', sans-serif;
    width: 170px;
    margin: 4px auto;
}
.carList div .info a{
    display: block;
    margin: 5px auto;
    text-align: center;
    padding: 10px 20px;
    background-color: rebeccapurple;
    color: white;
    font-family: 'Vollkorn SC', serif;
    font-size: 1.2em;
    width: 140px;
}
.carList div .info a:first-child{
    margin-top: 30px;
}
.carList div .info a:hover{
    cursor: default;
}
/* </carList> */